
<h2 class="profile_header">Profile Page for <%= @user.name %></h2>


<ul>
  <% @user.projects.uniq.each do |project| %>
  <li>
    <%= link_to project.name, project_path(project.id) %>
    <% end  %>
  </li>
</ul>
