
<div class=intro>

<h1 class=homeHeader>Make bug tracking easy</h1>
<h3 class=homeSecondHeader>Record, track, and resolve bugs and issues throughout your entire development process</h3>
<%= image_tag ("/assets/p1.png"), class: "img-responsive"%>

</div>
