<h2>All Projects</h2>

<ul>
  <% @projects.uniq.each do |project| %>
  <li>

    <span class=projectName>
    <%= link_to project.name, project_path(project.id) %>
    </span>

    <% if project.users.includes @current_user || @current_user.admin == true %>
      <%= link_to 'edit', edit_project_path(project.id) %>
    <% end %>
  </li>
  <% end %>
</ul>
