body {
  font-family: Charlie Display, BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  color: #23374d;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #eeeeee;
}

.intro {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

a {
  color:#1089ff;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}


ul {
    padding: 0;
    list-style-type: none;
}

footer {
  text-align: center;
}


input[type=submit] {
  -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.125;
    padding: 10px 16px;
    transition: all 250ms;
    vertical-align: middle;
    background-color: #293a80;
    border-color: #0052CC;
    color: #FFF;
}

input[type=submit]:hover {
  background-color: #0052CC;
}

@media only screen and (max-width: 600px) {

}
