body {
  font-family: Charlie Display, BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  color: #23374d;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #eeeeee;

}

.background {
  background-image: url(/assets/background.jpg);
  filter: blur(5px);
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

a {
  color:#1089ff;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}


ul {
    padding: 0;
    list-style-type: none;
}

footer {
  text-align: center;

}


input[type=submit] {
  -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.125;
    padding: 10px 16px;
    transition: all 250ms;
    vertical-align: middle;
    background-color: #293a80;
    border-color: #0052CC;
    color: #FFF;
}

input[type=submit]:hover {
  background-color: #0052CC;
}

.homeSecondHeader {
  margin-bottom: 6rem;
}

.homeHeader {
  margin-top: 6rem;
}


.loginSpaceOne, .loginSpaceTwo {
  padding-right: 3px;
}

li {
  margin:5px;
}

.profile_header {
  margin-top: 5vh;
}
