.project_container {
  width:100%;
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.project_form {

  padding: 25px;
  background: #e5e5e5;
  width: 550px;
}

.project_labels {
  text-align:left;
  width: 100px;
}

.project_labels_box {
    text-align:left;
    width: 450px;
}
