body {
  font-family: Charlie Display, BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  color: #23374d;
}

.container {
  width:100%;

padding-top:2rem;
  padding-bottom:2rem;
}

.login{
  text-align: center;
  width: 350px;
  border-radius: 8px;
  background-color: #253858;
  margin: auto;
  padding: 20px;
  color: #eeeeee;
}
.labels{
  text-align: right;
  height: 25px;
}
.labels_box{
  text-align: left;
  padding-left: 20px;
  height: 25px;
}

input[type=email] {
  width: 80%;
padding: 8px 16px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 15px;
}

input[type=password] {
  width: 80%;
padding: 8px 16px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 15px;
}

input[type=text]:focus {
  width: 40%;
}

input[type=submit] {
  -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.125;
    padding: 10px 16px;
    transition: all 250ms;
    vertical-align: middle;
    background-color: #0052CC;
    border-color: #0052CC;
    color: #FFF;
}

input[type=submit]:hover {
  opacity: 0.1;

}
