body {
  font-family: Charlie Display, BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-style: normal;
  color: #23374d;
}

a {
  color: #1089ff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

input[type=text] {
  width: 40%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=text]:focus {
  width: 40%;
}

label {


}

input[type=submit] {
  -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.125;
    padding: 10px 16px;
    transition: all 250ms;
    vertical-align: middle;
    background-color: #0052CC;
    border-color: #0052CC;
    color: #FFF;
}

input[type=submit]:hover {
  opacity: 0.95;
}

ul {
    padding: 0;
    list-style-type: none;
}
